<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body>
    <div class="body-overlay">
        <header>
            <%- include('./partials/header.ejs') %>
        </header>
    <div>
    <table>
      <% for (let i = 0; i < guitars.length; i += 4) { %>
      <tr>
        <% for (let j = 0; j < 4 && i + j < guitars.length; j++) { %>
        <td class="animate__bounceIn box">
          <p><%= guitars[i+j].make %> <%= guitars[i+j].model %></p>
          <a href="/resources/<%=guitars[i].id%>">
            <img class="guitar-image" src="<%= guitars[i+j].img %>"
          /></a>
        </td>
        <% } %>
      </tr>
      <% } %>
    </table>
    </div>
    <a href="/new" class="btn btn-primary">Add a new entry</a>
  </body>
  <script src="/jquery.js"></script>
</html>
