<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div>
	<nav>
		<h1>Guitar store</h1>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/wishlist">Your Wish list</a></li>
			<li><a href="/contacts">Contact Us</a></li>
			<li><a href="/about">About Us</a></li>
		</ul>
	</nav>
	<div id="generatorinator">
		<h1>Random Chord Generator</h1>
	    <p>Here is the chord of the day</p>
	    <p id="result"></p>
	</div>
    </div>
    <table>
      <tr>
        <td><img id="viewImg" class="animate__bounceInLeft" src="<%=guitar.img%>"></td>
      </tr>
      <% for(var prop in guitar) { %>
      <tr>
        <% if (prop != "img" && prop != "_id" && prop != "__v") { %>
        <td><%= prop %></td>
        <td><%=guitar[prop]%></td>
        <% } %>
      </tr>
      <%}%>
    </table>
    <a href="/add-to-wishlist/<%= guitar._id %>" class="btn btn-primary">Add to Wishlist</a>
    <a href="/" class="btn btn-primary">Back</a>
    <a href="/update/<%=guitar._id%>" class="btn btn-primary">Edit</a>
    <a href="/edit/<%=guitar._id%>" class="btn btn-primary">Post Method Update</a>
    <!-- Add a form with a DELETE method and a submit button -->
    <form action="/resources/<%= guitar._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </body>
</html>
